@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>


<address>
    <hr />
    <h4>Address</h4>
    
    578<br />
    Elvitigala Mawatha,<br />
     Narahenpita,Colombo<br />


    <hr />
    <br />
    <h4>Phone Number</h4>
    
    <abbr title="Phone">P:</abbr>
    011 5 430000
</address>
