.FrontPageTemp {
    margin-bottom: 30px;
}

.formSelect {
    margin: 10px 10px 10px 10px;
    float: right;
}

#tempo {
    padding: 10px 10px 10px 10px;
}

#txtTempo {
    padding: 20px 10px 10px 10px;
}

/*.msgBoxx {
    width: 500px;    
}*/
